.vipImages{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    width: 1350px;
    margin: auto;
}

@media only screen and (min-width: 1350){
    .vipImages{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        
        margin: auto;
    }
}

@media only screen and (max-width: 1350px){
    .vipImages{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        width: 1010px;
        margin: auto;
    }   
}

@media only screen and (max-width: 1010px){
    .vipImages{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        width: 670px;
        margin: auto;
    }      
}

@media only screen and (max-width: 670px){
    .vipImages{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        width: 330px;
        margin: auto;
    }        
}