<div >
    <div class="card" (click)="open()">
        <div class="image" [ngStyle]="{'width': '300px', 'height' : '450px',  'background-image': 'url(\'assets/Medias/Images/VIPs/' + imageName + '.jpg\')'}" >
        <!-- <img src='assets/Medias/Images/VIPs/{{imageName}}.jpg'/>-->   
            <div class="empty">

            </div>
            <div class="text">
                <div class="name">
                    <p>{{name}}</p>
                </div>
                <div class="title">
                    <p>{{title}}</p>
                </div>
            </div>   
        </div>
    </div>
</div>
