.gridImage {
    display: grid;
    height: 1200px;
    grid-gap: 10px;
    width: 75%;
    margin: auto;
    
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "div1 div1 div1 div1"
                         "div1 div1 div1 div1"
                         "div1 div1 div1 div1"
                         "data data div2 div2"
                         "data data div2 div2";
  }
  
  .imgBackGround { grid-area: div1; 
}
  
  .data { grid-area: data;
    background-color: gray;
    display: flex;
    align-items: center;
    text-align: left;
}
  
  .spareSpace { grid-area: div2;
    background-color: #b1c147;
}

@media screen and (max-width: 900px){
  .gridImage{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .imgBackGround{
    height: 500px;
    margin-bottom: 10px;
  }

  .spareSpace{
    display: none;
  }
}
