.grid-container {
    display: grid;
    height: 1200px;
    grid-gap: 10px;
    
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "div1 div1 div1 div1"
                         "div1 div1 div1 div1"
                         "data data div2 div2"
                         "data data div2 div2";
  }
  
  .div1 { grid-area: div1; }
  
  .data { grid-area: data; }
  
  .div2 { grid-area: div2; }
