.gridImage {
    display: grid;
    height: 1200px;
    grid-gap: 10px;
    width: 75%;
    margin: auto;
    
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "div1 div1 div1 div1"
                         "div1 div1 div1 div1"
                         "div1 div1 div1 div1"
                         "data data div2 div2"
                         "data data div2 div2";
  }
  
  .imgBackGround { grid-area: div1; 
    border: 1px red solid;
}
  
  .data { grid-area: data;
    background-color: lightgray;
}
  
  .spareSpace { grid-area: div2;
    background-color: #b1c147;
}
