.portfolioMenu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 60%;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    font-family: "Avenir-bold-font";
    font-size: 1em;
    color: #b1c147;
    
}

.portfolioMenu > p{
    width: 100%;
    text-align: center;
    border-left: 2px #b1c147 solid;
}

.portfolioMenu > p:nth-child(1){
    border-left:none;
}

@media screen and (max-width: 1250px){
    .portfolioMenu{
        width: 80%;
        font-size: 0.8em;
    }
}

@media screen and (max-width: 700px){
    .portfolioMenu{
        display: flex;
        flex-direction: column;
        font-size: 1em;
    }
}

.portfolioMenu:nth-child(n){
    align-items: center;
}

.item{
    margin: auto;
    border-bottom: 3px white solid;
    transition: 0.3s;
}

/*
.item:hover{
    cursor: pointer;
    border-bottom: 3px #b1c147 solid;
}
*/

@keyframes underline {
    from {border-bottom: 3px white solid;}
    to {border-bottom: 3px #b1c147 solid}
  }
