<div>
    porfolio works
</div>


<!--



<div>

    <div class = "portfolioMenu">
        <p class="item" (click)="allClick('all')">ALL</p>
        <p class="item" (click)="allClick('custom')">CUSTOM</p>
        <p class="item" (click)="allClick('commercial')">COMMERCIAL</p>
        <p class="item" (click)="allClick('mixeduse')">MIXED USE</p>
        <p class="item" (click)="allClick('singlefamily')">SINGLE-FAMILY</p>
        <p class="item" (click)="allClick('multifamily')">MULTI-FAMILY</p>
    </div>
    <div>
        <app-portfolio-commercial *ngIf="showCommercial">
        </app-portfolio-commercial>

        <app-portfolio-custom *ngIf="showCustom">
        </app-portfolio-custom>
        
        <app-portfolio-mixed-use *ngIf="showMixedUse">
        </app-portfolio-mixed-use>

        <app-portfolio-single-family *ngIf="showSingleFamily">
        </app-portfolio-single-family>

        <app-portfolio-multi-family *ngIf="showMultiFamily">
        </app-portfolio-multi-family>


    </div>
    <div>
        <div class= "Back_Button">
            Back
        </div>
    </div>
</div>

-->
