
<!--
    https://cdn-b-east.streamable.com/video/mp4/aqvze.mp4?token=dwj52-By-2Hb3g74llJDiQ&expires=1578001260
-->

<div>
    <div class="videoWrapper">
        <video autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" [loop]="true" height=vidHeigth width= vidWidth id="myVideo">
            <source src="assets/Medias/Video/background_Portfolio.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
    </div>     

    <app-common-banner></app-common-banner>
    <div class = "portfolioMenu">
        <p class="item" (click)="allClick('all')">ALL</p>
        <p class="item" (click)="allClick('custom')">CUSTOM</p>
        <p class="item" (click)="allClick('commercial')">COMMERCIAL</p>
        <p class="item" (click)="allClick('mixeduse')">MIXED USE</p>
        <p class="item" (click)="allClick('singlefamily')">SINGLE FAMILY</p>
        <p class="item" (click)="allClick('multifamily')">MULTI FAMILY</p>
    </div>
    <div>
        <app-portfolio-commercial *ngIf="showCommercial">
        </app-portfolio-commercial>

        <app-portfolio-custom *ngIf="showCustom">
        </app-portfolio-custom>
        
        <app-portfolio-mixed-use *ngIf="showMixedUse">
        </app-portfolio-mixed-use>

        <app-portfolio-single-family *ngIf="showSingleFamily">
        </app-portfolio-single-family>

        <app-portfolio-multi-family *ngIf="showMultiFamily">
        </app-portfolio-multi-family>


    </div>
</div>
