
<!--
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="menuClick()">&times;</a>
    <a href="">Home</a>
    <a href="about-us">About</a>
    <a href="services">Services</a>
    <a href="media">Media</a>
    <a href="contact">Contact</a>
</div>

<div class = "MenuBar">
    <a href="">
    <div class="logo" >
            <img src='assets/Medias/Images/CompanyLogo.svg'/>
            <img src='assets/Medias/Images/CompanyLogoSmall.svg'/>
    </div>
    </a>
        
    <div class="menu">
        <img src="assets/Medias/Images/list.svg" (click)="menuClickOpen()"/>
    </div>
</div>

-->

<div class="DNmenuBar">
    <div class="DNlogo">
                <a href="">
    <img src='assets/Medias/Images/CompanyLogo.svg'/>
    </a></div>
    <nav class="DNmenuText">
    <ul class="DNmenu1">
         <li><a href="">HOME</a></li>
         <li><a href="about-us">ABOUT US</a></li>
         <li><a href="services">SERVICES</a></li>
         <li><a href="portfolio">PORTFOLIO</a></li>
         <li><a href="media">MEDIA</a></li>
         <li><a href="contact">CONTACT US</a></li>
    </ul>
    </nav>
    <div class="DNminiMenu"  (click)="menuClickOpen()">☰</div>
    <div id="DNmySidenav" class="DNsidenav">
         <li><a href="javascript:void(0)" class="DNclosebtn" (click)="menuClick()">×</a></li>
    <a href="javascript:void(0)" class="DNclosebtn" onclick="closeNav()">
    </a>
         <li><a href="javascript:void(0)" class="DNclosebtn" (click)="menuClickOpen()"></a></li>
         <li><a href="">HOME</a></li>
         <li><a href="about-us">ABOUT US</a></li>
         <li><a href="services">SERVICES</a></li>
         <li><a href="portfolio">PORTFOLIO</a></li>
         <li><a href="media">MEDIA</a></li>
         <li><a href="contact">CONTACT US</a></li>
    </div>
    </div>
    <script>

    </script>




