<div class="block">
    <div class="pTitle" [ngStyle]="{'display': v1}">Project:</div>
    <div class="project" [ngStyle]="{'display': v2}">{{project}}</div>
    <div class="lTitle" [ngStyle]="{'display': v3}">Location:</div>
    <div class="location" [ngStyle]="{'display': v4}">{{location}}</div>
    <div class="dTitle" [ngStyle]="{'display': v5}">Description:</div>
    <div class="description" [ngStyle]="{'display': v6}">{{description}}</div>
    <div class="sTitle" [ngStyle]="{'display': v7}">Services Provided:</div>
    <div class="services" [ngStyle]="{'display': v8}">{{services}}</div>
</div>

