<div class="block">

    <div class="tableData">
        <table class="table">
            <tr>
                <th><div class="pTitle title" >Project:</div></th>
                
            </tr>
            <tr>
                <th><div class="project descrip">{{project}}</div></th>
            </tr>
            <tr>
                <th><div class="lTitle title">Location:</div></th>
                
            </tr>
            <tr>
                <th><div class="location descrip">{{location}}</div></th>
            </tr>
            <tr>
                <th><div class="dTitle title">Description:</div></th>
            </tr>
            <tr>
                <th><div class="description descrip">{{description}}</div> </th>

            </tr>
            <tr>
                <th><div class="sTitle title">Services Provided:</div></th>

            </tr>
            <tr>
                <th><div class="services descrip">{{services}}</div></th>
            </tr>
        </table>
    </div>

</div>

