

.background{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    cursor: pointer;
}


.canvas{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
}

.text{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divider1{
    margin: auto;
    width : 0%;
    border-bottom: 2px transparent solid;
    margin-top: 2%;
    margin-bottom: 2%;
    transition: .5s;
}




.project{
    font-family: "Avenir-bold-font";
    font-size: 3em;
    color: transparent;
    transition: .5s;
    transform: translateY(50px);
}

.description{
    font-family: "Avenir-font";
    font-size: 1.2em;
    color: transparent;
    transition: .5s;
    transform: translateY(-50px);
}

.canvas:hover{
    background-color: #b1c14796; 
}

.canvas:hover .project{
    color: white;
    transform: translateY(-30px);
}

.canvas:hover .description{
    color: white;
    transform: translateY(30px);
}

.canvas:hover .divider1{
    border-color: white;
    width : 100%;
}

