<div class="split1">
    <div>
        <div class="about">
            <p>ABOUT</p>
        </div>
        <div class="name">
            {{name}}
        </div>
        <div class="title">
            {{title}}
        </div>
        <div class="description">
            {{description}}
        </div>
    </div>
    <div>
        <div class="image" [ngStyle]="{'width': '400px', 'height' : '600px',  'background-image': 'url(\'assets/Medias/Images/VIPs/' + imageName + '.jpg\')'}" >
        </div>
    </div> 
</div>