<div>
    <app-common-banner></app-common-banner>
    <div class="title">
        <p>CONTACT US</p>
    </div>
    <div class= "combo">
        <div class="location">
            <div class="text">
                <p>OFFICE LOCATIONS</p>
            </div>
            <div class="text">
                <p>CORPORATE HEADQUARTERS</p>
            </div>
            <div class="text">
                <p><a href="https://www.google.com/maps/place/15+Studebaker,+Irvine,+CA+92618/@33.6498025,-117.7174509,17z/data=!3m1!4b1!4m5!3m4!1s0x80dce81649db0b23:0x9e07e46548ce963a!8m2!3d33.6498025!4d-117.7152622">15 Studebaker Irvine, CA 92618</a></p>
            </div>
            <div class="text">
                <p>949.752.1612</p>
            </div>
            <div class="divider"></div>
            <div class="text">
                <p>PALM SPRINGS, CALIFORNIA</p>
            </div>
            <div class="divider"></div>
            <div class="text">
                <p>PASADENA, CALIFORNIA</p>
            </div>
            <div class="divider"></div>
            <div class="text">
                <p>PLEASANTON, CALIFORNIA</p>
            </div>
            <div class="divider"></div>
            <div class="text">
                <p>SAI GON, VIETNAM</p>
            </div>
        </div>
        <div class="contact">
            <form action="mailto:dngo@gouvisgroup.com" method="POST" enctype="text/plain">
                <div class="contact1">
                    <input class="input" type="text" name="name" placeholder="name">
                    <input class="input" type="text" name="email" placeholder="email">
                    <input class="input" type="text" name="phone" placeholder="Phone Number">
                    <input class="input" type="text" name="Message" placeholder="Type your message here...">                   
                    <input class="inputButton" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>

    <div class="slogan">
        <app-common-text-slogan></app-common-text-slogan>
    </div>
    <div>
        <app-contact-grid-images></app-contact-grid-images>
    </div>
</div>
