<div>
    <app-common-banner></app-common-banner>
    <div class="title">
        <p>CONTACT US</p>
    </div>
    <div class= "combo">
        <div class="location">
            <div class="text">
                <p>OFFICE LOCATIONS</p>
            </div>
            <div class="text">
                <p>CORPORATE HEADQUARTERS</p>
            </div>
            <div class="text">
                <p><a href="https://www.google.com/maps/place/15+Studebaker,+Irvine,+CA+92618/@33.6498025,-117.7174509,17z/data=!3m1!4b1!4m5!3m4!1s0x80dce81649db0b23:0x9e07e46548ce963a!8m2!3d33.6498025!4d-117.7152622">15 Studebaker Irvine, CA 92618</a></p>
            </div>
            <div class="text">
                <p>949.752.1612</p>
            </div>
            <div class="divider"></div>
            <div class="text">
                <p>PALM SPRINGS, CALIFORNIA</p>
            </div>
            <div class="divider"></div>
            <div class="text">
                <p>PASADENA, CALIFORNIA</p>
            </div>
            <div class="divider"></div>
            <div class="text">
                <p>PLEASANTON, CALIFORNIA</p>
            </div>
            <div class="divider"></div>
            <div class="text">
                <p>SAI GON, VIETNAM</p>
            </div>
        </div>
        <div class="contact">
            <form action="mailto:dngo@gouvisgroup.com" method="POST" enctype="text/plain">
                <div class="contact1">
                    <input class="input" type="text" name="name" placeholder="name">
                    <input class="input" type="text" name="email" placeholder="email">
                    <input class="input" type="text" name="phone" placeholder="Phone Number">
                    <input class="input" type="text" name="Message" placeholder="Type your message here...">                   
                    <input class="inputButton" type="submit" value="Submit">
                </div>
            </form>
        </div>

    </div>

    <div class = mapImage>
            <!--<iframe src="https://www.google.com/maps/embed?pb=!4v1568147474006!6m8!1m7!1sYeECOhHTELjObvrlxv5Ymg!2m2!1d33.64973410946135!2d-117.7158291811923!3f74.55095675376164!4f3.0950567782433893!5f1.5854968420384403" frameborder="0" style="border:0;" allowfullscreen=""></iframe>-->
            <iframe height="400" width="300" border="0" marginwidth="0" marginheight="0" src="https://www.mapquest.com/embed/us/california/irvine/92618-2013/15-studebaker-33.649755,-117.715304?center=33.650176766515564,-117.71544814109802&zoom=16&maptype=map"></iframe>
    </div>




    <div class="slogan">
        <app-common-text-slogan></app-common-text-slogan>
    </div>
    <div>
        <app-contact-grid-images></app-contact-grid-images>
    </div>

    <div class="linkedin">
        <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:6576880136099106816" allowfullscreen="" title="Embedded post" width="504" height="502" frameborder="0"></iframe> 
    </div>
</div>
