<div>
    <app-common-banner></app-common-banner>
    <div class="title">
        <p>CONTACT US</p>
    </div>
    <div class="morespace">

    </div>
    <div class= "combo">
        <div class="location">
            <div class="text">
                <p>OFFICE LOCATIONS</p>
            </div>
            <div class="text">
                <p>CORPORATE HEADQUARTERS</p>
            </div>
            <div class="text">
                <p><a href="https://www.google.com/maps/place/15+Studebaker,+Irvine,+CA+92618/@33.6498025,-117.7174509,17z/data=!3m1!4b1!4m5!3m4!1s0x80dce81649db0b23:0x9e07e46548ce963a!8m2!3d33.6498025!4d-117.7152622">15 Studebaker Irvine, CA 92618</a></p>
            </div>
            <div class="text">
                <p>949.752.1612</p>
            </div>
            <div class="divider"></div>
            <div class="text">
                <p>PALM SPRINGS, CALIFORNIA</p>
            </div>
            <div class="divider"></div>
            <div class="text">
                <p>PASADENA, CALIFORNIA</p>
            </div>
            <div class="divider"></div>
            <div class="text">
                <p>PLEASANTON, CALIFORNIA</p>
            </div>
            <div class="divider"></div>
            <div class="text">
                <p>SAI GON, VIETNAM</p>
            </div>
        </div>
        <div class="contact">
            <form action="mailto:covalle@gouvisgroup.com" method="POST" enctype="text/plain">
                <div class="email">
                    Email to: covalle@gouvisgroup.com
                </div>
                <div class="contact1">
                    <input class="input" type="text" name="name" placeholder="NAME">
                    <input class="input" type="text" name="email" placeholder="EMAIL">
                    <input class="input" type="text" name="phone" placeholder="PHONE NUMBER">
                    <input class="input" type="text" name="Message" placeholder="Type your message here...">                   
                    <input class="inputButton" type="submit" value="Submit">
                </div>
            </form>

        </div>

    </div>

    <div id="map">

    </div>

    <div class = mapImage>
           
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1974.846275687239!2d-117.71644660560797!3d33.64984628488915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dce81649db0b23%3A0x9e07e46548ce963a!2s15%20Studebaker%2C%20Irvine%2C%20CA%2092618!5e0!3m2!1sen!2sus!4v1574116082080!5m2!1sen!2sus" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            <!--<iframe height="400" width="300" border="0"
             marginwidth="0" marginheight="0" 
             src="https://www.mapquest.com/embed/us/california/irvine/92618-2013/15-studebaker-33.649755,-117.715304?center=33.650176766515564,-117.71544814109802&zoom=16&maptype=map"></iframe>
            -->
    </div>




    <div class="slogan">
        <app-common-text-slogan></app-common-text-slogan>
    </div>
    

    <div class="indeedApply">
        <span class="indeed-apply-widget"
            data-indeed-apply-apiToken="aa102235a5ccb18bd3668c0e14aa3ea7e2503cfac2a7a9bf3d6549899e125af4"
            data-indeed-apply-jobId="79b591f41f6f39598aec"
            data-indeed-apply-jobLocation="Irvine, CA 92618"
            data-indeed-apply-jobCompanyName="Gouvis Engineering Consulting Group"
            data-indeed-apply-jobTitle="Engineer"
            data-indeed-apply-jobUrl ="https://gouvisgroup.org/contact"
            data-indeed-apply-postUrl="https://gouvisgroup.org/contact"
            data-indeed-apply-jobMeta="right-rail-apply-button"
            data-indeed-apply-resume="REQUIRED"> 
            
        </span>
    </div>

    <app-video-intro
    [videoLink]="'https://www.youtube.com/embed/3tfjH1OaUgs'">
    ></app-video-intro>

    <!--
<app-contact-grid-images></app-contact-grid-images>
    -->
    
</div>


