<div>
    <app-common-banner></app-common-banner>
    <div class = "slogan1">
        <app-common-text-slogan></app-common-text-slogan>
    </div>
    <div class="divider1">

    </div>
    <div>
        <app-augrid-images></app-augrid-images>
    </div>
    <div class="divider">

    </div>
    <div>
        <app-common-text-slogan></app-common-text-slogan>
    </div>

    <!--
    <div >
        <app-auculture-grid-images></app-auculture-grid-images>
    </div>
    -->

    <app-newauculturegridimage></app-newauculturegridimage>
    <div class="divider">

    </div>

    <app-video-intro
            [videoLink]="'https://www.youtube.com/embed/esUfXNKH6kw'">
    ></app-video-intro>
    <div style="margin-top: 15vh;">

    </div>
    
    <!--
    <div>
        https://www.youtube.com/embed/hbET2TKiaEI
        <app-common-text-slogan></app-common-text-slogan>
    </div>
    <div class="divider">

    </div>
    <div>
        <app-auparties-grid-images></app-auparties-grid-images>
    </div>
    -->

</div>
