<div class="houseFrame">
        <div  data-aos="flip-left" data-aos-delay="100">
            <div data-aos="flip-right" data-aos-delay="400">
                <a href="/services">
                    <img src = "assets/Medias/Images/ServicesIconsHomePage/apartment.png"/>
                </a>
                
            </div>
            <div>
                <p><a href="/services">Structural Design</a></p>
            </div>
        </div>
        <div  data-aos="flip-left" data-aos-delay="100">
            <div data-aos="flip-right" data-aos-delay="400">
                <a href="/services">
                    <img src = "assets/Medias/Images/ServicesIconsHomePage/mechanical_fan.png"/>
                </a>
               
            </div>
            <div>
                <p><a href="/services">Mechanical Design</a></p>
            </div>
        </div>
        <div  data-aos="flip-left" data-aos-delay="100">
            <div data-aos="flip-right" data-aos-delay="400">
                <a href="/services">
                    <img src = "assets/Medias/Images/ServicesIconsHomePage/light_bulb_icon_white.png"/>
                </a>
                
            </div>
            <div>
                <p><a href="/services">Electrical Design</a></p>
            </div>
        </div>
        <div  data-aos="flip-left" data-aos-delay="100">
            <div data-aos="flip-right" data-aos-delay="400">
                <a href="/services">
                    <img src = "assets/Medias/Images/ServicesIconsHomePage/plumbing_pipe_white.png"/>
                </a>
                
            </div>
            <div>
                <p><a href="/services">Plumbing Design</a></p>
            </div>
        </div>
    </div>
