<div class="grid-container">
    <div class="div2 title">
        <p>SPRING PARTY</p>
    </div>
    <div class="div1 img1"></div>
    <div class="div3 img1"></div>
    <div class="div4 img1"></div>
    <div class="div5 img1"></div>
    <div class="div6 img1"></div>
    <div class="div7 img1"></div>
    <div class="div8 img1"></div>
    <div class="div11 title">
        <p>SUMMER BBQ</p>
    </div>
    <div class="div9 img1"></div>
    <div class="div10 img1"></div>

    <div class="div12 img1"></div>
    <div class="div13 img1"></div>
    <div class="div18 title">
        <p>HALLOWEEN PARTY</p>
    </div>
    <div class="div14 img1"></div>
    <div class="div15 img1"></div>
    <div class="div16 img1"></div>
    <div class="div17 img1"></div>
    <div class="div24 title">
        <p>CHRISTMAS PARTY</p>
    </div>
    <div class="div19 img1"></div>
    <div class="div22 img1"></div>
    <div class="div20 img1"></div>
    <div class="div21 img1"></div>
    <div class="div22 img1"></div>
    <div class="div23 img1"></div>
  </div>