<div class="container">
    <div class="cursor1">
        <p (click)="CursorClick(-1)">❰</p>
    </div>
    <div class="sliderContainer">
        <div class="wraper" [ngStyle]="wrapperStyle()">
            <div [ngStyle]="rearDiv()"></div>
            <div class = slider *ngFor="let video of videos; let i=index"
            >
                
                <youtube-player  class = youtube_object
                    #player
                    [videoId] = "video.videoId"
                    [width] = video_width
                    [height] = video_height
                >
                </youtube-player>
                
            </div>
            <div [ngStyle]="rearDiv()"></div>
        </div>
    </div>
    <div class="cursor2" >
        <p (click)="CursorClick(1)">❱</p>
    </div>
</div>

<div class="dot-indicator">
    <div class="dot-box">
        <div class = "slider" *ngFor="let dotts of numberOfDot; let i=index">
            <div class="dot" (click)="dotClicked(i)" [ngStyle]="dotStyle(i)"></div>
        </div>
    </div>
</div>



