<div>
    <app-common-banner></app-common-banner>
    <div class="mediaSpace"></div>
    <div class="backgroundSlogan">
        <app-common-text-slogan></app-common-text-slogan>
    </div>
    <app-magazine-grid></app-magazine-grid>
    <div class="backgroundSlogan">
        <app-common-text-slogan></app-common-text-slogan>
    </div>
    <div>
        <app-video-intro
            
            [videoLink]="'https://www.youtube.com/embed/3qUri4MHIM0'">
        </app-video-intro>
    </div>
    <!--https://youtu.be/DO0GXsxPp0I-->
</div>
