.magazineClass{
    margin: auto;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    width: 80%;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.magazineElement{
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    display: flex;
    align-items: center;
    height: 200px;
    width: 150px;
}



@media screen and (max-width: 1000px){
    .magazineClass{
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 30px;
        width: 80%;
        margin-top: 10vh;
        margin-bottom: 10vh;
    }
}

@media screen and (max-width: 800px){
    .magazineClass{
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
        width: 80%;
        margin-top: 10vh;
        margin-bottom: 10vh;
    }
}

@media screen and (max-width: 560px){
    .magazineClass{
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        width: 80%;
        margin-top: 10vh;
        margin-bottom: 10vh;
    }
}

@media screen and (max-width: 376px){
    .magazineClass{
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin-top: 10vh;
        margin-bottom: 10vh;
    }
}